#딕셔너리 자료형 접근

In [7]:
data = dict()
data['사과'] = 'Apple'
data['오렌지'] = 'Orange'
data['복숭아'] = 'Peach'

key_list  = data.keys()
val_list = data.values()

print(key_list,val_list)

for key in key_list:
   print(data[key])

dict_keys(['사과', '오렌지', '복숭아']) dict_values(['Apple', 'Orange', 'Peach'])
Apple
Orange
Peach

#리스트컴프리헨션

In [14]:
array = [i for i in range(10) if i%2 ==1]
print(array)
n= 3
m=4
array = [[n]*m for _ in range(n)]
print(array)

[1, 3, 5, 7, 9]
[[3, 3, 3, 3], [3, 3, 3, 3], [3, 3, 3, 3]]

#합계 구하기

In [15]:
sum =0
for i in range(5):
    sum+=i
print(sum)

10

#파이썬 함수들

In [23]:
a=[1,3,5,4,7]

a.remove(3)
print(a)
a.append(10)
print(a)
a.sort()
print(a)
a.count(5)
a.insert(2,3)
print(a)
a.reverse()
print(a)

[1, 5, 4, 7]
[1, 5, 4, 7, 10]
[1, 4, 5, 7, 10]
[1, 4, 3, 5, 7, 10]
[10, 7, 5, 3, 4, 1]

#리스트 컴프리헨션

In [26]:
a = [1,2,3,4,5,5,5]
remove_set = {3,5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

set자료형

In [28]:
data = set([1,3,3,3,2,2,5,6])
print(data)

data = {1,3,3,3,2,2,5,6}
print(data)

{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}

In [29]:
a= set([1,2,3,4,5])
b = set([3,4,5,6,7])

print(a|b)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [33]:
data = set([1,2,3,4,5])
data.add(6)
print(data)
data.update([7,8])
print(data)
data.remove(2)
print(data)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}

while반복문

In [37]:
result = 0
i = 0
while(i<11):
    result+=i
    i+=1
print(result)

55

In [39]:
result = 0
i = 0
while(i<5):
    if i%2==1:
        print(i,'odd')
    i+=1

1 odd
3 odd

for문

In [40]:
result = 0

for i in range(10):
    result+=i
print(result)

45

In [42]:

scores = [80,90,55,70,22]

for i in range(5):
    if scores[i]>=60:
        print(i+1,'합격')

1 합격
2 합격
4 합격

In [43]:
scores = [80,90,55,70,22]
cheating_list = {2,4}

for i in range(5):
    if i+1 in cheating_list:
        continue
    if scores[i]>=80:
        print(i+1,scores[i],'합격')

1 80 합격

In [47]:
for i in range(2,10):
    for j in range(1,10):
        print(i,"X",j,"=",i*j)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [48]:
a = 0
def func():
    global a
    a+=1
for i in range(10):
    func()
print(a)

10

람다

In [51]:
def add(a,b):
    result = a+b
    return result
print(add(3,5))

print((lambda a,b:a+b)(3,7))

8
10